extends ./layout/index

block contenido 
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                Blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Cras sodales suscipit auctor. Curabitur id malesuada ante. Phasellus a magna at ligula volutpat cursus in in lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vitae pharetra ipsum. Integer rutrum enim sit amet sapien molestie, quis pellentesque purus blandit. Pellentesque quis massa suscipit, volutpat quam pellentesque, ornare velit. In tempor ac enim sit amet placerat. Quisque sed augue nulla.

                p pulvinar et elit a eleifend. Nullam aliquam lectus vitae felis hendrerit facilisis. Integer non urna eget ante vehicula posuere. Ut pulvinar eros sed metus maximus, a varius sapien bibendum. Vivamus in arcu nunc. Proin gravida ultrices turpis.

                p  rutrum odio, eget porta ligula. Curabitur eget velit arcu. Suspendisse potenti. Morbi ligula enim, suscipit ut risus porttitor, commodo efficitur lacus. Fusce blandit ante est, sed ultricies neque consequat sed. Etiam at faucibus nunc. Mauris consequat ullamcorper posuere. Curabitur aliquet, turpis ac auctor.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 